## Build results
[Bb]in/
[Oo]bj/

## Files
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet Packages
*.nupkg
*.snupkg

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## CodeRush
.cr/

## Resharper
_*Rd_*

## JetBrains
.idea/
*.sln.iml

## Visual Studio Cache
.vs/